# Git
.git
.gitignore

# Environments
.env
.venv
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Frontend
frontend/
node_modules/

# Tests
tests/
.pytest_cache/

# IDEs
.vscode/
.idea/
.gemini/
